<div id="spree-header">
    
   <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
   <div class="col-xs-4  col-md-3">
     
         <h1 class="navbar-brand"><%= link_to "The Six Lord", root_path %></h1>
         </div>
  <header id="header" data-hook>
       
    <div class="container">
      <div class="row">
        
         <div>
         <%= render partial: 'spree/shared/nav_bar' %>
         </div>
      </div>
    </div>
  </header>
 
</div>