<div class="jumbotron">
     <div class="center">
     <img src="https://s3.amazonaws.com/joaquim-6-lord/spree/images/city.jpg?X-Amz-Date=20160801T152553Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=0bdead4f80b24b53d02a4b03dff704782fcdce47aa385ed001030a47a083d48f&X-Amz-Credential=ASIAJ5FOO5NYWQZIBMHA/20160801/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEEkaDDwh7U5iRMPCjjHKmCLHAQ6ce8/GeavfUICkb7qo55JVTGMVH4dXcXqocTv3YBY4tnHKuY7/KRLv6R20s8qgzo58FUJXsufpy%2B1lspMdq2ESCMzESE4r2pVtB8qFTFVIJGxPbpjc7gzrIHv7WxlMkUCFdCZrq9BsvHySc5YPQcr4w1UyRnd9/lOWHqZTXPMiCDxIpoAlq1Fk9/k0E59FX78Q/g6%2BMWGjODsqrK5iTECxRwcONZ%2BfhQkD/bTB4jWyEWay5Gt5q1z9ufVN0ZZnbNEoDkO39voo/NL9vAU%3D">
     </div>
    
</div>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>
