<div class="jumbotron-responsive" >
<img src= "https://s3.amazonaws.com/joaquim-6-lord/asset-images/city.jpg" class="img-responsive" alt="City" size="100%">

   
    
</div>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>
